{
  "metadata": {
    "apiVersion": "2016-11-23",
    "endpointPrefix": "complex",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "AWS Complex Test Service",
    "serviceId": "ComplexTest",
    "signatureVersion": "v4",
    "targetPrefix": "AWSComplexTest",
    "uid": "complex-test-2016-11-23"
  },
  "operations": {
    "CreateResource": {
      "name": "CreateResource",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResourceInput"
      },
      "output": {
        "shape": "CreateResourceOutput"
      },
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "documentation": "Creates a new resource with specified configuration."
    },
    "ListResources": {
      "name": "ListResources",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourcesInput"
      },
      "output": {
        "shape": "ListResourcesOutput"
      },
      "errors": [
        {
          "shape": "ThrottlingException"
        }
      ],
      "documentation": "Lists all resources with pagination support."
    },
    "DescribeResource": {
      "name": "DescribeResource",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeResourceInput"
      },
      "output": {
        "shape": "DescribeResourceOutput"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "documentation": "Describes a specific resource by ARN."
    },
    "UpdateResource": {
      "name": "UpdateResource",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateResourceInput"
      },
      "output": {
        "shape": "UpdateResourceOutput"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "idempotencyToken": "clientToken"
    },
    "DeleteResource": {
      "name": "DeleteResource",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourceInput"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ]
    }
  },
  "shapes": {
    "CreateResourceInput": {
      "type": "structure",
      "required": [
        "name",
        "configuration"
      ],
      "members": {
        "name": {
          "shape": "ResourceName"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "configuration": {
          "shape": "ResourceConfiguration"
        },
        "tags": {
          "shape": "TagMap"
        },
        "clientToken": {
          "shape": "ClientToken",
          "idempotencyToken": true
        }
      }
    },
    "CreateResourceOutput": {
      "type": "structure",
      "required": [
        "resourceArn",
        "createdAt"
      ],
      "members": {
        "resourceArn": {
          "shape": "ResourceArn"
        },
        "createdAt": {
          "shape": "Timestamp"
        }
      }
    },
    "ListResourcesInput": {
      "type": "structure",
      "members": {
        "maxResults": {
          "shape": "MaxResults"
        },
        "nextToken": {
          "shape": "NextToken"
        },
        "status": {
          "shape": "ResourceStatusFilter"
        }
      }
    },
    "ListResourcesOutput": {
      "type": "structure",
      "required": [
        "resources"
      ],
      "members": {
        "resources": {
          "shape": "ResourceSummaryList"
        },
        "nextToken": {
          "shape": "NextToken"
        }
      }
    },
    "DescribeResourceInput": {
      "type": "structure",
      "required": [
        "resourceArn"
      ],
      "members": {
        "resourceArn": {
          "shape": "ResourceArn"
        }
      }
    },
    "DescribeResourceOutput": {
      "type": "structure",
      "required": [
        "resource"
      ],
      "members": {
        "resource": {
          "shape": "ResourceDetails"
        }
      }
    },
    "UpdateResourceInput": {
      "type": "structure",
      "required": [
        "resourceArn"
      ],
      "members": {
        "resourceArn": {
          "shape": "ResourceArn"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "configuration": {
          "shape": "ResourceConfiguration"
        },
        "clientToken": {
          "shape": "ClientToken",
          "idempotencyToken": true
        }
      }
    },
    "UpdateResourceOutput": {
      "type": "structure",
      "required": [
        "updatedAt"
      ],
      "members": {
        "updatedAt": {
          "shape": "Timestamp"
        }
      }
    },
    "DeleteResourceInput": {
      "type": "structure",
      "required": [
        "resourceArn"
      ],
      "members": {
        "resourceArn": {
          "shape": "ResourceArn"
        }
      }
    },
    "ResourceSummaryList": {
      "type": "list",
      "member": {
        "shape": "ResourceSummary"
      }
    },
    "ResourceSummary": {
      "type": "structure",
      "required": [
        "name",
        "resourceArn",
        "status"
      ],
      "members": {
        "name": {
          "shape": "ResourceName"
        },
        "resourceArn": {
          "shape": "ResourceArn"
        },
        "status": {
          "shape": "ResourceStatus"
        },
        "createdAt": {
          "shape": "Timestamp"
        }
      }
    },
    "ResourceDetails": {
      "type": "structure",
      "required": [
        "name",
        "resourceArn",
        "status",
        "configuration"
      ],
      "members": {
        "name": {
          "shape": "ResourceName"
        },
        "description": {
          "shape": "ResourceDescription"
        },
        "resourceArn": {
          "shape": "ResourceArn"
        },
        "status": {
          "shape": "ResourceStatus"
        },
        "configuration": {
          "shape": "ResourceConfiguration"
        },
        "tags": {
          "shape": "TagMap"
        },
        "createdAt": {
          "shape": "Timestamp"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      }
    },
    "ResourceConfiguration": {
      "type": "structure",
      "required": [
        "type"
      ],
      "members": {
        "type": {
          "shape": "ConfigurationType"
        },
        "settings": {
          "shape": "ConfigurationSettings"
        },
        "advanced": {
          "shape": "AdvancedConfiguration"
        }
      }
    },
    "ConfigurationSettings": {
      "type": "map",
      "key": {
        "shape": "SettingKey"
      },
      "value": {
        "shape": "SettingValue"
      }
    },
    "AdvancedConfiguration": {
      "type": "structure",
      "members": {
        "enabled": {
          "shape": "Boolean"
        },
        "parameters": {
          "shape": "ParameterList"
        }
      }
    },
    "ParameterList": {
      "type": "list",
      "member": {
        "shape": "Parameter"
      }
    },
    "Parameter": {
      "type": "structure",
      "required": [
        "key",
        "value"
      ],
      "members": {
        "key": {
          "shape": "ParameterKey"
        },
        "value": {
          "shape": "ParameterValue"
        },
        "encrypted": {
          "shape": "Boolean"
        }
      }
    },
    "TagMap": {
      "type": "map",
      "key": {
        "shape": "TagKey"
      },
      "value": {
        "shape": "TagValue"
      },
      "min": 0,
      "max": 50
    },
    "ResourceName": {
      "type": "string",
      "min": 1,
      "max": 128,
      "pattern": "^[a-zA-Z0-9_-]+$"
    },
    "ResourceDescription": {
      "type": "string",
      "max": 1024
    },
    "ResourceArn": {
      "type": "string",
      "pattern": "^arn:aws:complex-test:.*"
    },
    "ResourceStatus": {
      "type": "string",
      "enum": [
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "DELETING",
        "FAILED"
      ]
    },
    "ResourceStatusFilter": {
      "type": "string",
      "enum": [
        "ACTIVE",
        "FAILED",
        "ALL"
      ]
    },
    "ConfigurationType": {
      "type": "string",
      "enum": [
        "BASIC",
        "ADVANCED",
        "CUSTOM"
      ]
    },
    "ClientToken": {
      "type": "string",
      "min": 1,
      "max": 64,
      "pattern": "^[a-zA-Z0-9_-]+$"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "MaxResults": {
      "type": "integer",
      "min": 1,
      "max": 100
    },
    "NextToken": {
      "type": "string",
      "min": 1,
      "max": 1024
    },
    "SettingKey": {
      "type": "string",
      "min": 1,
      "max": 64
    },
    "SettingValue": {
      "type": "string",
      "max": 256
    },
    "ParameterKey": {
      "type": "string",
      "min": 1,
      "max": 32
    },
    "ParameterValue": {
      "type": "string",
      "max": 512
    },
    "TagKey": {
      "type": "string",
      "min": 1,
      "max": 128
    },
    "TagValue": {
      "type": "string",
      "max": 256
    },
    "Boolean": {
      "type": "boolean"
    },
    "ValidationException": {
      "type": "structure",
      "required": [
        "message"
      ],
      "members": {
        "message": {
          "shape": "ErrorMessage"
        },
        "fieldList": {
          "shape": "ValidationExceptionFieldList"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "documentation": "The input fails to satisfy the constraints."
    },
    "ResourceAlreadyExistsException": {
      "type": "structure",
      "required": [
        "message"
      ],
      "members": {
        "message": {
          "shape": "ErrorMessage"
        },
        "resourceArn": {
          "shape": "ResourceArn"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      }
    },
    "ResourceNotFoundException": {
      "type": "structure",
      "required": [
        "message"
      ],
      "members": {
        "message": {
          "shape": "ErrorMessage"
        },
        "resourceArn": {
          "shape": "ResourceArn"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      }
    },
    "ThrottlingException": {
      "type": "structure",
      "required": [
        "message"
      ],
      "members": {
        "message": {
          "shape": "ErrorMessage"
        },
        "retryAfterSeconds": {
          "shape": "RetryAfterSeconds"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 429
      },
      "retryable": {
        "throttling": true
      }
    },
    "ConflictException": {
      "type": "structure",
      "required": [
        "message"
      ],
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      }
    },
    "ValidationExceptionFieldList": {
      "type": "list",
      "member": {
        "shape": "ValidationExceptionField"
      }
    },
    "ValidationExceptionField": {
      "type": "structure",
      "required": [
        "name",
        "message"
      ],
      "members": {
        "name": {
          "shape": "String"
        },
        "message": {
          "shape": "String"
        }
      }
    },
    "ErrorMessage": {
      "type": "string"
    },
    "RetryAfterSeconds": {
      "type": "integer",
      "min": 1
    },
    "String": {
      "type": "string"
    }
  },
  "pagination": {
    "ListResources": {
      "input_token": "nextToken",
      "output_token": "nextToken",
      "limit_key": "maxResults",
      "result_key": [
        "resources"
      ]
    }
  }
}